VITE_SUPABASE_URL=https://npyujcxsmvwmydtfwjjo.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_6jxWVzEvwuaxCs2SdluLhw_QkDWrEP0
GEMINI_API_KEY=AQ.Ab8RN6KQFK6i005UzGLUkDlspec9H5XO9uK3OFvv8iM1K2CTDg
